* { box-sizing: border-box; }





.card {
    display: table;
    border: 1px solid #000;
    width: 100px;
    text-align: left;
    margin: 0 auto;
    float: right;
}


.board {
width: 400px;



}
